<%= render 'page_header' %>

<div class='coversheet-title'>
  <div class='row'>
    <strong>PROVISIONAL APPLICATION FOR PATENT COVER SHEET - Page 2 of 2</strong>
  </div>
</div>

<div class='row page-2-form'>
  <div class='col-xs-12 contract-question'>
    <div class='row'>
      The invention was made by an agency of the United States Government or under a contract with an agency of the United States Government.
    </div>
    <div class='row'>
      <div class='unchecked'></div> No.
    </div>
    <div class='row'>
      <div class='unchecked'></div> Yes, the invention was made by an agency of the U.S. Goverment. The U.S. Government agency name is: __________________________________
    </div>
    <div class='row'>
      <div class='unchecked'></div>
      Yes, the invention was made under a contract with an agency of the U.S. Government. The name of the U.S. Government agency and
    </div>
    <div class='col-xs-12'>
      Goverment contact number are ____________________________________________________________________
    </div>
  </div>
</div>

<div class='coversheet-title'>
  <div class='row'>
    <strong>WARNING:</strong>
  </div>
</div>

<div class='row warning'>
  Petitioner/applicant is cautioned to avoid submitting personal information in documents filed in a patent application that may  contribute to identity theft. Personal information such as social security numbers, bank account numbers, or credit card  numbers (other than a check or credit card authorization form PTO 2038 submitted for payment purposes) is never required by  the USPTO to support a petition or an application. If this type of personal information is included in documents submitted to  the USPTO, petitioners/applicants should consider redacting such personal information from the documents before submitting  them to the USPTO. Petitioner/applicant is advised that the record of a patent application is available to the public after  publication of the application (unless a non publication request in compliance with 37 CFR 1.213(a) is made in the application)  or issuance of a patent. Furthermore, the record from an abandoned application may also be available to the public if the  application is referenced in a published application or an issued patent (see 37 CFR 1.14). Checks and credit card authorization  forms PTO 2038 submitted for payment purposes are not retained in the application file and therefore are not publicly  available.
</div>

<div class='row signature-area'>
  <div class='col-xs-7'>
    SIGNATURE ________________________________________________
  </div>
  <div class='col-xs-5'>
    DATE ____________________________
  </div>
  <div class='col-xs-7'>
    TYPED OR PRINTED NAME ___________________________________
  </div>
  <div class='col-xs-5'>
    REGISTRATION NO. ________________
  </div>
  <div class='col-xs-7'>
  </div>
  <div class='col-xs-5 sub-label'>
    <i>(if appropriate)</i>
  </div>
  <div class='col-xs-6'>
    TELEPHONE ________________________________________
  </div>
  <div class='col-xs-6'>
    DOCKET NUMBER ____________________________
  </div>
</div>
