<%= render 'page_header' %>

<div class='coversheet-title'>
  <div class='row'>
    <strong>PROVISIONAL APPLICATION FOR PATENT COVER SHEET - Page 1 of 2</strong>
  </div>
  <div class='row subtitle'>
    This is a request for filing a PROVISIONAL APPLICATION FOR PATENT under 37 CFR 1.53(c).
  </div>
</div>

<div class='express-mail-label'>
  <div class='row'>
    Express Mail Label No. _________________________________________________________________________________
  </div>
</div>

<div class='row page-1-form'>
  <div class='title col-xs-12'>
    INVENTOR(S)
  </div>
  <div class='form-table col-xs-12'>
    <div class='row'>
      <div class='form-cell col-xs-4 column-header'>
        <div class='row'>Given Name  (first and middle [if any])</div>
        <div class='row'>&nbsp;</div>
      </div>
      <div class='form-cell col-xs-4 column-header'>
        <div class='row'>Family Name or Surname</div>
        <div class='row'>&nbsp;</div>
      </div>
      <div class='form-cell col-xs-4 column-header'>
        <div class='row'>Residence</div>
        <div class='row'>(City and either State or Foreign Country)</div>
      </div>
    </div>

    <% 5.times do %>
      <div class='row'>
        <% 3.times do %>
          <div class='form-cell col-xs-4'>
            <div class='row'>&nbsp;</div>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>

  <div class='title col-xs-12'>
    TITLE OF THE INVENTION (500 characters max):
  </div>

  <div class='title-area col-xs-12'></div>

  <div class='form-table correspondence col-xs-12'>
    <div class='row'>
      <div class='col-xs-4'>
        Direct all correspondence to:
      </div>
      <div class='col-xs-8'>
        <strong>CORRESPONDENCE ADDRESS</strong>
      </div>
    </div>

    <div class='row'>
      <div class='col-xs-11'>
        <! Can't seem to get this to work !>
        <i class='fa fa-times' aria-hidden='true'></i>
        <div class='unchecked'></div>
        The address corresponding to Customer Number:
        <div class='customer-number'></div>
      </div>
    </div>

    <div class='row'>
      <div class='col-xs-1'><strong>OR</strong></div>
    </div>
  </div>

  <div class='form-table col-xs-12 address-name'>
    <div class='row'>
      <div class='col-xs-11'>
        <div class='unchecked'></div>
        Firm or Individual Name
      </div>
    </div>
  </div>

  <div class='form-table col-xs-12 address-street'>
    <div class='row'>
      <div class='col-xs-12 address'>
        Address
      </div>
    </div>
  </div>

  <div class='form-table col-xs-12 address-details'>
    <div class='row'>
      <div class='col-xs-4 form-cell'>City</div>
      <div class='col-xs-4 form-cell'>State</div>
      <div class='col-xs-4 form-cell'>Zip</div>
    </div>
    <div class='row'>
      <div class='col-xs-4 form-cell'>Country</div>
      <div class='col-xs-4 form-cell'>Telephone</div>
      <div class='col-xs-4 form-cell'>Email</div>
    </div>
  </div>

  <div class='col-xs-12 title'>
    <strong>ENCLOSED APPLICATION PARTS <i>(check all that apply)</i></strong>
  </div>

  <div class='col-xs-12 enclosed'>
    <div class='row'>
      <div class='col-xs-6 checklist-item'>
        <div class='unchecked'></div>Application Data Sheet. See 37 CFR 1.76.
      </div>
      <div class='col-xs-6 checklist-item'>
        <div class='unchecked'></div>CD(s), Number of CDs ___________________
      </div>
      <div class='col-xs-6 checklist-item'>
        <div class='unchecked'></div>Drawings     <i>Number of Sheets</i> ___________________
      </div>
      <div class='col-xs-6 checklist-item'>
        <div class='unchecked'></div>Other (specify) _______________________
      </div>
      <div class='col-xs-12 checklist-item'>
        <div class='unchecked'></div>Specification (e.g. description of the invention)
        <i> Number of Pages</i> ___________________
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-12 fees-disclaimer'>
        <strong>Fees Due:</strong> Filing Fee of $260 ($130 for small entity) ($65 for micro entity). If the specification and drawings exceed 100 sheets of paper, an application size fee is also due, which is $400 ($200 for small entity) ($100 for micro entity) for each additional 50 sheets or fraction thereof.
        <br>
        See 35 U.S.C. 41(a)(1)(G) and 37 CFR 1.16(s).
      </div>
    </div>
  </div>

  <div class='col-xs-12 small-title'>
    <strong>METHOD OF PAYMENT OF THE FILING FEE AND APPLICATION SIZE FEE FOR THIS PROVISIONAL APPLICATION FOR PATENT</strong>
  </div>

  <div class= 'col-xs-12 payment-method'>
    <div class='row'>
      <div class='col-xs-8'>
        <div class='row'>
          <div class='col-xs-12 checklist-item'>
            <div class='unchecked'></div> Applicant asserts small entity status. See 37 CFR 1.27.
          </div>
        </div>
        <div class='row'>
          <div class='col-xs-12 checklist-item'>
            <div class='unchecked'></div> Applicant certifies micro entity status. See 37 CFR 1.29.
          </div>
        </div>
        <div class='row'>
          <div class='col-xs-12 checklist-subitem'>
            Applicant must attach form PTO/SB/15A or B or equivalent.
          </div>
        </div>
        <div class='row'>
          <div class='col-xs-12 checklist-item'>
            <div class='unchecked'></div> A check or money order made payable to the <i>Director of the United States Patent </i>
          </div>
        </div>
        <div class='row'>
          <div class='col-xs-12 checklist-subitem'>
            <i>and Trademark Office</i> is enclosed to cover the filing fee and application size fee (if applicable).
          </div>
        </div>
        <div class='row'>
          <div class='col-xs-12 checklist-item'>
            <div class='unchecked'></div> Payment by credit card. Form PTO-2038 is attached.
          </div>
        </div>
      </div>
      <div class='col-xs-4'>
        <div class='row total-fee'>
          <div class='amount-field'></div>
          <strong>TOTAL FEE AMOUNT ($)</strong>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-12 checklist-item'>
        <div class='unchecked'></div> The Director is hereby authorized to charge the filing fee and application size fee 
      </div>
      <div class='col-xs-12 checklist-subitem'>
        (if applicable) or credit any overpayment to Deposit Account Number: __________________________
      </div>
    </div>
  </div>

</div>

<div class='page-footer'>
  <div class='row title'>
    <strong><i>USE ONLY FOR FILING A PROVISIONAL APPLICATION FOR PATENT</i></strong>
  </div>
  <div class='row footer-disclaimer'>
    This collection of information is required by 37 CFR 1.51. The information is required to obtain or retain a benefit by the public which is to file (and by USPTO to process) an application. Confidentiality is governed by 35 U.S.C 122 and 37 CFR 1.11 and 1.14. This collection is estimated to take 10 hours to complete, including gathering, preparing, and submitting the compoleted application form to the USPTO. Time will vary depending upon the individual case. Any comments on the amount of time you require to complete this for and/or suggestions for reducing this burdent, should be sent to the Chief Information Officer, U.S. Patent and Trademark Office, U.S. Department of Commerce, P.O. Box 1450, Alexandria, VA 22313-1450. DO NOT SEND FEES OR COMPLETED FORMS TO THIS ADDRESS. <strong>SEND TO: Commissioner for Patents, P.O. Box 1450, Alexandria, VA 22313-1450.</strong>
  </div>
  <div class='row footer-advisor'>
    If you need assistance in completing the form, call 1-800-PTO-9199 and select option 2
  </div>
</div>

<div class='page-break'></div>

<%= render 'page_header' %>

<div class='coversheet-title'>
  <div class='row'>
    <strong>PROVISIONAL APPLICATION FOR PATENT COVER SHEET - Page 2 of 2</strong>
  </div>
</div>

<div class='row page-2-form'>
  <div class='col-xs-12 contract-question'>
    <div class='row'>
      The invention was made by an agency of the United States Government or under a contract with an agency of the United States Government.
    </div>
    <div class='row'>
      <div class='unchecked'></div> No.
    </div>
    <div class='row'>
      <div class='unchecked'></div> Yes, the invention was made by an agency of the U.S. Goverment. The U.S. Government agency name is: __________________________________
    </div>
    <div class='row'>
      <div class='unchecked'></div>
      Yes, the invention was made under a contract with an agency of the U.S. Government. The name of the U.S. Government agency and
    </div>
    <div class='col-xs-12'>
      Goverment contact number are ____________________________________________________________________
    </div>
  </div>
</div>

<div class='coversheet-title'>
  <div class='row'>
    <strong>WARNING:</strong>
  </div>
</div>

<div class='row warning'>
  Petitioner/applicant is cautioned to avoid submitting personal information in documents filed in a patent application that may  contribute to identity theft. Personal information such as social security numbers, bank account numbers, or credit card  numbers (other than a check or credit card authorization form PTO 2038 submitted for payment purposes) is never required by  the USPTO to support a petition or an application. If this type of personal information is included in documents submitted to  the USPTO, petitioners/applicants should consider redacting such personal information from the documents before submitting  them to the USPTO. Petitioner/applicant is advised that the record of a patent application is available to the public after  publication of the application (unless a non publication request in compliance with 37 CFR 1.213(a) is made in the application)  or issuance of a patent. Furthermore, the record from an abandoned application may also be available to the public if the  application is referenced in a published application or an issued patent (see 37 CFR 1.14). Checks and credit card authorization  forms PTO 2038 submitted for payment purposes are not retained in the application file and therefore are not publicly  available.
</div>

<div class='row signature-area'>
  <div class='col-xs-7'>
    SIGNATURE ________________________________________________
  </div>
  <div class='col-xs-5'>
    DATE ____________________________
  </div>
  <div class='col-xs-7'>
    TYPED OR PRINTED NAME ___________________________________
  </div>
  <div class='col-xs-5'>
    REGISTRATION NO. ________________
  </div>
  <div class='col-xs-7'>
  </div>
  <div class='col-xs-5 sub-label'>
    <i>(if appropriate)</i>
  </div>
  <div class='col-xs-6'>
    TELEPHONE ________________________________________
  </div>
  <div class='col-xs-6'>
    DOCKET NUMBER ____________________________
  </div>
</div>
