<!-- Contact
================================================== -->

<!-- Map Container -->
<div class="full-width-box-container margin-bottom-10 margin-top-81">

  <!-- Map -->
  <div class="col-lg-9 col-md-8">
    <!-- Google Maps -->
    <div class="google-map-container">
      <div id="googlemaps" class="google-map google-map-full"></div>
    </div>
    <!-- Google Maps / End -->
  </div>

  <!-- Office -->
  <div class="col-lg-3 col-md-4">
    <div class="address-container" data-background-image="<%= image_path('contact-our-office.jpg') %>">
      <div class="office-address">
        <h3>Our Office</h3>
        <ul>
          <li>45 Park Avenue, Apt. 303</li>
          <li>New York, NY 10016</li>
          <li>Phone (123) 123-456 </li>
        </ul>
      </div>
    </div>
  </div>

</div>
<!-- Map Container / End -->


<!-- Container / Start -->
<div class="container">

  <div class="row">

    <!-- Contact Details -->
    <div class="col-md-4">

      <h3 class="headline margin-bottom-35">We'd Love To Hear From You</h3>

      <!-- Contact Details -->
      <div class="sidebar-textbox">
        <p>We're always looking to make new connections. Join our network today!</p>

        <ul class="contact-details">
          <li><i class="ln ln-icon-Phone-2"></i> <strong>Phone:</strong> <span>(123) 123-456 </span></li>
          <li><i class="ln ln-icon-Fax"></i> <strong>Fax:</strong> <span>(123) 123-456 </span></li>
          <li><i class="ln ln-icon-Globe"></i> <strong>Web:</strong> <span><a href="#">www.idyuh.com</a></span></li>
          <li><i class="ln ln-icon-Envelope"></i> <strong>E-Mail:</strong> <span><a href="#">fan-mail@idyuh.com</a></span></li>
        </ul>
      </div>

    </div>

    <!-- Contact Form -->
    <div class="col-md-8">

      <section id="contact">
        <h3 class="headline margin-bottom-45"></h3>

        <div id="contact-message"></div>

        <%= render 'form' %>
      </section>
    </div>
    <!-- Contact Form / End -->

  </div>

</div>
<!-- Container / End -->
