<div class="row">
  <div class="col-md-12 margin-bottom-20 margin-top-20">
    <!-- Content -->
    <div class="info-banner-fw boxed light">
      Thank You for the information. We'll begin processing your request shortly.
      <br>
      <%= f.submit 'Save & Continue', class: 'button border medium margin-top-20' %>
    </div>

  </div>
</div>