<h3 class="headline centered margin-top-5 margin-bottom-20">Why Do You Want To Patent Your Idea?</h3>
<div class="row">
  <!-- Patent Form Step 3 -->
  <div class="col-md-3"></div>
  <div class="col-md-6">

    <section id="provisional-step-1">
      <label for="reason" class="rememberme">
        <input name="reason" type="radio" value="financial freedom" class="margin-right-10" /> I just want to sell my idea, retire, and sit on a beach sipping my drink.
      </label>

      <label for="reason" class="rememberme">
        <input name="reason" type="radio" value="royalties" class="margin-right-10" /> Royalties. I want to get paid every time someone buys or uses my idea.
      </label>

      <label for="reason" class="rememberme">
        <input name="reason" type="radio" value="filing for employer" class="margin-right-10" /> My boss is lazy and told me to file this for the company.
      </label>

      <label for="reason" class="rememberme">
        <input name="reason" type="radio" value="protection" class="margin-right-10" /> I want to make sure no one else steals my idea.
      </label>

      <label for="reason" class="rememberme">
        <input name="reason" type="radio" value="fame" class="margin-right-10" /> I'm a glory hound that wants to brag about how smart I am.
      </label>

      <label for="reason" class="rememberme">
        <input name="reason" type="radio" value="other reasons" class="margin-right-10" /> I have my own reasons for wanting to complete a provisional patent.
      </label>
    </section>
  </div>
  <div class="col-md-3"></div>
  <!-- Patent Form Step 3 End -->
</div>

<h3 class="headline centered margin-top-5 margin-bottom-20">Are There Any Other Parties Involved?</h3>
<div class="row">
  <!-- Patent Form Step 4 -->
  <div class="col-md-3"></div>
  <div class="col-md-6">

    <section id="provisional-step-1">
      <label for="inventorship" class="rememberme">
        <input name="inventorship" type="radio" value="single" class="margin-right-10" /> No, I invented this all by myself.
      </label>

      <label for="inventorship" class="rememberme">
        <input name="inventorship" type="radio" value="multiple" class="margin-right-10" /> Yes, I had help.
      </label>

      <label for="inventorship" class="rememberme">
        <input name="inventorship" type="radio" value="non-owner" class="margin-right-10" /> I didn't come up with this idea.
      </label>

      <label for="inventorship" class="rememberme">
        <input name="inventorship" type="radio" value="government" class="margin-right-10" /> I came up with this while working for the U.S. Government.
      </label>
    </section>
  </div>
  <div class="col-md-3"></div>
  <!-- Patent Form Step 4 End -->
</div>