<%= form_for(@project_profile) do |f| %>
  <% if @project_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_profile.errors.count, "error") %> prohibited this project_profile from being saved:</h2>

      <ul>
        <% @project_profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h3 class="headline centered margin-top-5 margin-bottom-20">What category does your invention or idea fit into?</h3>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <p>Now, select the best, or closest, category that fits your idea.</p>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name) %>
    </div>
    <div class="col-md-3"></div>
  </div>
<% end %>