<h3 class="headline centered margin-top-5 margin-bottom-20">What Problem Does Your Patent Solve?</h3>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <section id="provisional-step-5">
      <label for="">
        <%= f.text_area :problem %>
      </label>
    </section>
  </div>
  <div class="col-md-3"></div>
</div>
<h3 class="headline centered margin-top-5 margin-bottom-20">How Does Your Patent Solve The Problem?</h3>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <section id="provisional-step-5">
      <label for="">
        <%= f.text_area :solution %>
      </label>
    </section>
  </div>
  <div class="col-md-3"></div>
</div>