<%= form_for(project) do |f| %>
  <%= render_errors(project) if project.errors.any? %>
  <h3 class="headline centered margin-top-5 margin-bottom-20"></h3>
  <div class="row">
    <!-- Patent Form Step 13 -->
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <section id="provisional-step-1">
        <%= f.submit %>
      </section>
    </div>
  </div>
<% end %>
