<div class="container margin-top-80">
  <!-- Titlebar
================================================== -->
  <div id="titlebar" class="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h2>Membership Tiers</h2>

          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
            <ul>
              <li><a href="#">Home</a></li>
              <li>Membership Options</li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>

</div>
<div class="clearfix"></div>

<!-- Pricing Tables
================================================== -->

<!-- Container / Start -->
<div class="container">
  <!-- Row / Start -->
  <div class="row no-gutters">
    <div class="col-md-12">
      <!--<h3 class="headline with-border margin-bottom-45 margin-top-70">Four Tables</h3>-->
    </div>

    <!-- Plan #1 -->
    <div class="col-md-3 col-sm-6">
      <div class="plan">
        <div class="plan-price">
          <h3>Free</h3>
          <span class="value">FREE</span>
          <span class="period">forever!</span>
        </div>
        <div class="plan-features">
          <ul>
            <li>5GB Document Storage</li>
            <li>Basic Patent Search</li>
            <li>Access To Funding Resources</li>
            <li>Free Beta Features</li>
            <li>Special Offers & Deals</li>
          </ul>
          <a class="button" href="#"> Sign Up Now</a>
        </div>
      </div>
    </div>

    <!-- Plan #1 -->
    <div class="col-md-3 col-sm-6">
      <div class="plan color-1">
        <div class="plan-price">
          <h3>Standard</h3>
          <span class="value">$19.99</span>
          <span class="period">per month</span>
        </div>
        <div class="plan-features">
          <ul>
            <li>25GB Document Storage</li>
            <li>Standard Patent Search</li>
            <li>Reduced Prices On Services</li>
            <li>Standard Beta Features</li>
            <li>Special Offers & Deals</li>
          </ul>
          <a class="button" href="#"> Sign Up Now</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <!-- Plan #3 -->
      <div class="plan color-2">
        <div class="plan-price">
          <h3>Advanced</h3>
          <span class="value">$29.99</span>
          <span class="period">per month</span>
        </div>
        <div class="plan-features">
          <ul>
            <li>50GB Document Storage</li>
            <li>Assisted Patent Search</li>
            <li>1 Free Service/Year</li>
            <li>Low Prices On Services</li>
            <li>Advanced Beta Features</li>
          </ul>
          <a class="button" href="#">Sign Up Now</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <!-- Plan #3 -->
      <div class="plan color-1">
        <div class="plan-price">
          <h3>Elite</h3>
          <span class="value">$49.99</span>
          <span class="period">per month</span>
        </div>
        <div class="plan-features">
          <ul>
            <li>200GB Document Storage</li>
            <li>Assisted Patent Search</li>
            <li>3 Free Services/Year</li>
            <li>Lower Prices On Services</li>
            <li>Elite Beta Features</li>
          </ul>
          <a class="button" href="#">Sign Up Now</a>
        </div>
      </div>
    </div>

  </div>
  <!-- Row / End -->
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <!-- Plan #2 -->
      <div class="plan olive-bg">
        <div class="plan-price white-text">
          <h3>Enterprise</h3>
          <span class="value">CALL</span>
          <span class="period">for pricing</span>
        </div>
        <div class="plan-features">
          <ul>
            <li>Private "Cold Storage" Server</li>
            <li>Worry And Hassle Free Membership</li>
            <li>Free Corporate Identity On All Documents</li>
            <li>Free Marketing Specialists*</li>
            <li>Free Services*</li>
            <li>Free Assisted Patent/Trade Mark/Copyright Searches*</li>
            <li>Personalized IP Security Assistance</li>
          </ul>
          <a class="button" href="#">Sign Up Now</a>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- Container / End -->