<!-- Content
================================================== -->

<!-- Parallax Full-Screen Background -->
<div class="fullscreen background parallax" data-background="images/resume-01.jpg" data-img-width="1800" data-img-height="1202" data-diff="300" data-color="#303133" data-color-opacity="0.6">
  <div class="parallax-content-container">
    <div class="parallax-content wide center">
      <h2>Hello, How Can I Help You?</h2>
      <h3 class="margin-top-30">We're looking for a lot of brainy, helpful, pleasant personalities and service providers.</h3>
      <div class="scroll-to-content ln ln-icon-Down-3"></div>
    </div>
  </div>
</div>


<!-- Content
================================================== -->
<div class="container">
  <div class="row margin-top-55">

    <!-- Text Block -->
    <div class="col-md-4">
      <h3 class="about-me-title"><strong>Who Are You, and How Can You Help?</strong></h3>
    </div>

    <!-- Skill bars -->
    <div class="col-md-8">
      <div class="row margin-top-20">
        <div class="col-md-12">
          <p class="about-me-intro">
            Tell us about yourself by filling out a professional profile, answering a few questions about yourself, and proving you are who you say you are.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Container / End -->


<!-- Container -->
<div class="section-background margin-top-60" data-background-color="#fffae2">
  <div class="container">
    <div class="row margin-top-15">
      <div class="col-md-4"><h3 class="about-me-title"><strong>We're Currently Recruiting In The Following Areas:</strong></h3></div>

      <div class="col-md-8">

        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="icon-box-3 rounded dark">
              <i class="ln ln-icon-Font-Color"></i>
              <h4>Attorneys/Law Firms</h4>
              <p>You live, breath, and dream about the patent process. You're the pros when it comes to the more difficult and final steps to a successful patent, trade mark, or copyright filing.</p>
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="icon-box-3 rounded dark">
              <i class="ln ln-icon-Brain"></i>
              <h4>Mentors</h4>
              <p>Whether you're a seasoned CEO, or a weekend warrior in SEO, someone out there needs a little help understanding and completing some crucial steps.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="icon-box-3 rounded dark">
              <i class="ln ln-icon-Factory"></i>
              <h4>Service Providers</h4>
              <p>You're unique services, and attention to detail, make you the perfect person or firm to bring new ideas to life. You're talents may range from studio musician to manufacturer. You're the workhorse of the entire production process.</p>
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="icon-box-3 rounded dark">
              <i class="ln ln-icon-Eyeglasses-Smiley2"></i>
              <h4>Experience Experts/Testers</h4>
              <p>You're a pro at testing new systems, products, algorithms, or more! You also value discretion and demand that your customers insist that you sign an NDA, for everyone's protection.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Container / End -->


<!-- Container -->
<div class="container">
  <div class="row margin-top-60">

    <!-- Text Block -->
    <div class="col-md-4">
      <h3 class="about-me-title"><strong>Requirements</strong></h3>
    </div>

    <!-- Table -->
    <div class="col-md-8">
      <div class="row margin-top-20">

        <!-- Education -->
        <dl class="resume-table">
          <dt>
            <strong>Education And/Or Experience</strong>
            <small>You need to support your claim of expertise.</small>
          </dt>
          <dd>
            <p>Show us your credentials, or examples of your work.</p>
          </dd>


          <dt>
            <strong>Identification</strong>
            <small>So, Mr. Pappageorgio, how about you show me your REAL id?</small>
          </dt>
          <dd>
            <p>It's not that we don't believe you are who you say we are, we're just asking you to prove it beyond any reasonable doubt.</p>
          </dd>


          <dt>
            <strong>Personality Profile</strong>
            <small>You've got people skills! You are good at dealing with the customer! Can't you understand that?</small>
          </dt>
          <dd>
            <p>Unlike the Office Space guy, you really know how to handle yourself in potentially stressful situations, and you are amazing at problem solving.</p>
          </dd>

        </dl>

      </div>
    </div>
    <!-- Table / End -->

  </div>
</div>
<!-- Container / End -->
<div class="info-banner-fw">
  <div class="container">
    <div class="row">
      <div class="col-md-12">Join Our Growing List Today!<a href=<%= new_mentor_path %>>I Wanna Help People!</a></div>
    </div>
  </div>
</div>