<div id="header-container" data-background="<%= image_path('service-02-parallax.jpg') %>" data-color="#303133" data-color-opacity="0.6">
  <!-- Titlebar
  ================================================== -->
  <div id="titlebar" class="large margin-bottom-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h2 class="text-center">Join Our Growing Network!</h2>

        </div>
      </div>
    </div>
  </div>

</div>
<div class="clearfix"></div>


<div class="container">
  <!-- Container / Start -->
  <h3 class="headline centered">Getting To Know You</h3>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h5 class="text-center margin-bottom-10 margin-top-10"><i class="sl sl-icon-bulb"></i> Progress</h5>
      <!-- Skill -->
      <div class="skill-bar">
        <div class="skill-bar-value" data-percentage="10%"></div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-3"></div>
  </div>

  <%= render 'form' %>

</div>
<!-- Container / End -->
<div class="clearfix"></div>