<%= form_for(project) do |f| %>
    <%= render_errors(project) if project.errors.any? %>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <p>In 15 words or less, tell us about your project. This will be the title of your patent.</p>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <%= f.text_field :title %>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row">
      <div class="col-md-12 margin-bottom-20 margin-top-20">
        <!-- Content -->
        <div class="info-banner-fw boxed light">
          That was easy right? Now, Let's Really Get Down to Business!
          <br>
          <%= f.submit 'Save & Continue', class: 'button border medium margin-top-20' %>
        </div>
      </div>
    </div>
<% end %>
