<div class="container margin-top-80">
  <!-- Titlebar
  ================================================== -->
  <div id="titlebar" class=" margin-bottom-0  centered">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Let's Patent Your Idea!</h2>
        </div>
      </div>
      <div class="row">
        <h4>Follow the steps below to get your patent filing underway.</h4>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>


<div class="container">
<!-- Provisional Steps
================================================== -->
<!-- Container / Start -->
  <h3 class="headline centered with-border margin-top-35">Getting To Know Your Idea</h3>

  <div class="row">
    <div class="col-md-12">
      <!-- Skill -->
      <div class="skill-bar">
        <div class="skill-title"><h5 class="headline centered margin-bottom-10 margin-top-10"><i class="sl sl-icon-bulb"></i> Patent Progress</h5></div>
        <div class="skill-bar-value" data-percentage="10%"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <%= render 'form' %>

</div>
<!-- Container / End -->
<div class="clearfix"></div>