<div id="header-container" data-background="<%= image_path('contact-parallax-02.jpg') %>" data-color="#303133" data-color-opacity="0.7">

  <!-- Titlebar
  ================================================== -->

  <div id="titlebar" class=" margin-bottom-0  centered">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Let's Patent Your Idea!</h2>
        </div>
      </div>
      <div class="row">
        <h4>Follow the steps below to get your patent filing underway.</h4>
      </div>
    </div>
  </div>

</div>
<div class="clearfix"></div>



<!-- Provisional Steps
================================================== -->

<!-- Container / Start -->
<div class="container">
  <br>
  <div class="row">
    <div class="col-md-12">
      <!-- Skill -->
      <div class="skill-bar">
        <div class="skill-title"><h5><i class="sl sl-icon-rocket"></i> Patent Progress</h5></div>
        <div class="skill-bar-value" data-percentage="10%%"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <h3 class="headline centered with-border margin-top-0">Getting To Know Your Idea</h3>

  <div class="style-3">
    <!-- Tabs Navigation -->
    <ul class="tabs-nav buttons">
      <li class="active"><a href="#tab1b">Identity</a></li>
      <li><a href="#tab2b">Patentability</a></li>
      <li><a href="#tab3b">Protection</a></li>
    </ul>

    <!-- Tabs Content -->
    <div class="tabs-container alt">
      <div class="tab-content" id="tab1b">
        <div class="row">
          <!-- Patent Form Step 1 -->
          <div class="col-md-12">

            <section id="provisional-step-1">
              <h3 class="headline centered margin-bottom-10 margin-top-10">Tell Us A Little About Your Idea</h3>
              <div id="contact-message"></div>
              <%= render 'form' %>
            </section>
          </div>
          <!-- Patent Form Step 1 End -->

        </div>
      </div>

      <div class="tab-content" id="tab2b">
        <div class="row">
          <!-- Patent Form Step 2 -->
          <div class="col-md-2"></div>
          <div class="col-md-8">

            <section id="provisional-step-1">
              <h3 class="headline centered margin-bottom-10 margin-top-10">Who Knows About Your Idea?</h3>
              <form action="">
                <label for="rememberme" class="rememberme">
                  <input name="rememberme" type="checkbox" id="rememberme" value="forever" class="margin-right-10" /> No one. I haven't told a soul!
                </label>

                <label for="rememberme" class="rememberme">
                  <input name="rememberme" type="checkbox" id="rememberme" value="forever" class="margin-right-10" /> Everyone. In fact, it's not even a new idea.
                </label>

                <label for="rememberme" class="rememberme">
                  <input name="rememberme" type="checkbox" id="rememberme" value="forever" class="margin-right-10" /> People that shop for anything have probably seen or purchased something exactly the same or similar.
                </label>

                <label for="rememberme" class="rememberme">
                  <input name="rememberme" type="checkbox" id="rememberme" value="forever" class="margin-right-10" /> It's not really my idea, I'm just trying to file it before anyone else does.
                </label>

                <label for="rememberme" class="rememberme">
                  <input name="rememberme" type="checkbox" id="rememberme" value="forever" class="margin-right-10" /> There are schematics, drawings, stories, and tons of technical information on my idea.
                </label>
              </form>
            </section>
          </div>
          <div class="col-md-2"></div>
          <!-- Patent Form Step 2 End -->
        </div>
      </div>

      <div class="tab-content" id="tab3b">
        <div class="row">
          <!-- Patent Form Step 3 -->
          <div class="col-md-2"></div>
          <div class="col-md-8">

            <section id="provisional-step-1">
              <h3 class="headline centered margin-bottom-10 margin-top-10">Why Do You Want To Patent Your Idea?</h3>
              <form action="">
                <label for="rememberme" class="rememberme">
                  <input name="rememberme" type="checkbox" id="rememberme" value="forever" class="margin-right-10" /> I just want to sell my idea, retire, and sit on a beach sipping my drink.
                </label>

                <label for="rememberme" class="rememberme">
                  <input name="rememberme" type="checkbox" id="rememberme" value="forever" class="margin-right-10" /> Royalties. I want to get paid every time someone buys or uses my idea.
                </label>

                <label for="rememberme" class="rememberme">
                  <input name="rememberme" type="checkbox" id="rememberme" value="forever" class="margin-right-10" /> My boss is lazy and told me to file this for the company.
                </label>

                <label for="rememberme" class="rememberme">
                  <input name="rememberme" type="checkbox" id="rememberme" value="forever" class="margin-right-10" /> I want to make sure no one else steals my idea.
                </label>

                <label for="rememberme" class="rememberme">
                  <input name="rememberme" type="checkbox" id="rememberme" value="forever" class="margin-right-10" /> I'm a glory hound that wants to brag about how smart I am. Just kidding ... It looks good on a resume.
                </label>

                <label for="rememberme" class="rememberme">
                  <input name="rememberme" type="checkbox" id="rememberme" value="forever" class="margin-right-10" /> I have my own reasons for wanting to complete a provisional patent.
                </label>
              </form>
            </section>
          </div>
          <div class="col-md-2"></div>
          <!-- Patent Form Step 3 End -->
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12 margin-bottom-20">
        <!-- Content -->
        <div class="info-banner-fw boxed light">
          That was easy right? Now, Let's Really Get Down to Business!
          <a class="button border medium" href="#">Save & Continue</a>
        </div>

      </div>
    </div>
  </div>

</div>
<!-- Container / End -->
