// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bold-link {
  color: #ffffff;
}

.bold-link:hover {
  color: #ffffff;
}

.dark-text .bold-link:hover {
  color: #000000;
}

.dark-text .bold-link:hover i {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.white-text .bold-link:hover i {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
