<!DOCTYPE html>
<html>
<head>
  <title>Provisional Patent Application</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= wicked_pdf_stylesheet_link_tag 'pdf', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
